<!-- side bar code  -->
         <div class="side-bar">            
            <div class="sidebar-icon">
              <a class="bg-style" href="#"><i class="fas fa-star bg-style"></i><span class="bg-s bg-style">Most Used service</span><i class="fas fa-plus bg-style"></i></a>
            </div>
            <div class="sidebar-icon">   
                <a class="home-style" href="#"><i class="fas fa-home"></i><span class="home-s">Home</span></a>
            </div>
            <div class="sidebar-icon">                  
              <a href="#"><i class="fas fa-address-book"></i><span class="about-s">About</span></a>
            </div>
              
            <div class="sidebar-icon">                  
              <a href="#"><i class="fas fa-phone"></i><span class="about-s">Contact</span></a>
            </div>
            
            <div class="sidebar-icon">                  
                <a class="line1" href="#"><i class="fas fa-file-alt"></i><span class="about-s">Pages</span></a>
            </div>
            
            <div class="sidebar-icon">                               
              <a href="#"><i class="fas fa-building"></i><span class="about-s">services</span></a>
            </div>  
            <!-- <div class="sidebar-icon">                               
                <a href="#"><i class="fas fa-star fa-building"></i><span class="master-s">Master</span></a><i class="fas fa-minus fa-minus1"></i>
            </div>                         -->
             <!-- dropdown  -->
          
                                         
             <div class="dropdown">
                <div class=" dropdown-toggle" data-toggle="dropdown"><i class="fas fa-star fa-building"></i>Master
                     <span class="fas fa-minus"></span></div>
                
                <ul class="dropdown-menu dropdown-style ">
                  <li><a href="#"><i class="fas fa-greater-than"></i><span class="c-style">Category</span></a></li>
                  <li><a href="#"><i class="fas fa-greater-than"></i><span class="c-style">Insurance Area</span></a></li>
                  <li><a href="#"><i class="fas fa-greater-than"></i><span class="c-style">Insurance Risk category<br><span style="margin-left: 50px;">and Data Risk</span><p style="margin-left: 50px;">Management</p></span></a></li>
                  <li><a href="#"><i class="fas fa-greater-than"></i><span class="c-style">Principal Insured</span></a></li>
                  <li><a href="#"><i class="fas fa-greater-than"></i><span class="c-style">Insured</span></a></li>
                  <li><a href="#"><i class="fas fa-greater-than"></i><span class="c-style">Principal Insured</span></a></li>

                </ul>
              </div>            
      </div>
 