
  <div class="back-ground">
    <div class="positons">
    <nav class="navbar navbar-new">
    <div class="row">
      <div class="col-sm-4">      
        <a href="#">
            <div class="icon-adjust">         
              <div class=" icon-bars" ></div>
              <div class=" icon-bars"></div>
              <div class=" icon-bars"></div>
            </div>
          </a>
        <div class="navbar-header">
          <a class="navbar-icon" href="#"> <i class="fas fa-user-circle "></i></a>
          <a class="navbar-brand" href="#">DIRECT TAX</a>
        </div>
      </div>
      
      <!-- dynamic profile design "name and pic " -->
      <div class="profile">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Profile Name</a>
            <a class="profile-pic" href="#"> <i class="fas fa-user-circle "></i></a>
          </div>
        </div>
    
      
        <a class="icon-serch" href="#" ><i class="fas fa-search"></i></a>
        <div class="box-adjust">  
          <div class="box">
              <span class="select-name">PLATFORM</span>
              <a href="#" ><span class="caret"></span></a>
            <!-- boder-box for selector drop down   -->
            
          </div>
        </div>
      
      </div>
    </nav>
    </div>
  </div>
